.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff65c4;
    font-family: 'Arial', sans-serif;
}

.front-text {
    background-color: #c981b7;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.inside-text {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #e40f84;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #b3b3b3;
    font-size: 16px;
    margin: 5px 0;
}

.deseos {
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
    color: #aaacaa;
}

.firma {
    margin-top: 30px;
    font-style: italic;
}

button {
    background-color: #ff69b4;
    color: white;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
}

button:hover {
    background-color: #ff1493;
}
